.content {
  padding: 24px;
  max-width: 1024px;
  margin: 0 auto;
}

.content__title {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 900;
  font-size: 24px;
  margin: 0 0 24px;
  padding: 0;
  color: #0a0a0a;
}

.content__text {
  font-family: 'JetBrains Mono', monospace;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 24px;
  padding: 0;
  color: #0a0a0a;
}

@media (min-width: 640px) {
  .content__title {
    font-size: 32px;
  }

  .content__text {
    font-size: 18px;
  }

  .content {
    padding: 24px 36px;
  }
}
